; The default value for this is ['*eslint*', '*prettier*']
; public-hoist-pattern=[]

; To append to the array, instead of overwriting, you use the following syntax:
; public-hoist-pattern[]="my-package"
